<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    
    <title>Nhom07_FaceRecognition</title>
    <style type="text/css">
        #container{
            width: 70%;
            position: relative;;
        }
        #container img{
            width: 70%;
            height: auto;
        }
        #container canvas{
            position: absolute;
            top: 0;
            left: 0;
        }

    </style>
</head>
<body>
    <div>
        <ul class="snip1143">
            <li><a href="./index.html" data-hover="Home">Home</a></li>
            <li class="current"><a href="./image.html" data-hover="IMAGE">IMAGE</a></li>
            <li><a href="./video.html" data-hover="VIDEO">VIDEO</a></li>
            <li><a href="./realtime.html" data-hover="LIVE">LIVE</a></li>
            <li><a href="./login.html" data-hover="LOGOUT">LOGOUT</a></li>
        </ul>
        <br>
        <br>
        <input type="file" id="fileInput" accept="image/*"/>
        <div id="container"></div>
        
        
    </div>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="../face-api.min.js"></script>
    <script src="../xuli/scrips_image.js"></script>

</body>
</html>