<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nhom07_FaceRecognition</title>
    <link rel="stylesheet" href="../public/css/login.css">
    

</head>
<body>
    <main>
        <div class="row">
            <div class="colm-logo">
                <h2>NHẬN DIỆN KHUÔN MẶT</h2>
                <img src="../public/img/logo.PNG" alt="Logo">
                
            </div>
            <div class="colm-form">
                <div class="form-container">
                    <form onsubmit="">
                        <input type="text" id="un" name="un" placeholder="Email address or phone number" autofocus>
                        <input type="password" id="mk" name="mk" placeholder="Password" >
                        <button type="submit" class="btn-register">REGISTER</button>
                    </form>
                </div>
                
            </div>
        </div>
    </main>
    <script src="../xuli/scrips_register.js"></script>
</body>
</html>