<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    <title>Nhom07_FaceRecognition</title>
    
    <style type="text/css">
 
        #containerVideo canvas{
            width: 768px ;
            height: 432px;
        }

    </style>
</head>
<body>
    <div>
        <ul class="snip1143">
            <li><a href="./index.html" data-hover="Home">Home</a></li>
            <li><a href="./image.html" data-hover="IMAGE">IMAGE</a></li>
            <li class="current"><a href="./video.html" data-hover="VIDEO">VIDEO</a></li>
            <li><a href="./realtime.html" data-hover="LIVE">LIVE</a></li>
            <li><a href="./login.html" data-hover="LOGOUT">LOGOUT</a></li>
        </ul>
        
        <input type="file" id="fileInputVideo" onchange="selectedVideo(this);"/>
        <div></div>

        <video autoplay id="video" controls width="768px" height="432px" accept="video/*">
            <source id="source" type="video/mp4" >
        </video>
        <script>
            var vid = document.getElementById("video");
            function setPlaySlowSpeed() { 
                vid.playbackRate = 0.5;
              } 
            function setPlaySpeed() { 
                vid.playbackRate = 1;
              } 
        </script>
        <div id="containerVideo"></div>
        <button onclick="setPlaySlowSpeed()" type="button">Slow video</button>
        <button onclick="setPlaySpeed()" type="button">normal</button>
    </div>
    <script>
        function selectedVideo(self){
            var file = self.files[0];
            var reader = new FileReader();
            reader.onload = function(e){
                var src = e.target.result;
                var video = document.getElementById("video");
                var source = document.getElementById("source");

                source.setAttribute("src",src);
                video.load();
                video.play();
            }
            reader.readAsDataURL(file);
        }        
    </script>
    
    <script type="text/javascript" src="../node_modules/toastify-js/src/toastify.js"></script>
    <script src="../face-api.min.js"></script>
    <script src="../xuli/scrips_video.js" defer></script>
</body>
</html>