<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/face-api.js@0.22.2/dist/face-api.js" 
        integrity="sha256-JOJ7NmVm2chxYZ1KPcAYd2bwVK7NaFj9QKMp7DClews=" crossorigin="anonymous"></script>

        
</head>
<body>
    <div>
    <ul class="snip1143">
        <li><a href="./index.html" data-hover="Home">Home</a></li>
        <li><a href="./image.html" data-hover="IMAGE">IMAGE</a></li>
        <li><a href="./video.html" data-hover="VIDEO">VIDEO</a></li>
        <li class="current"><a href="./realtime.html" data-hover="LIVE">LIVE</a></li>
    </ul>
    <br>
    <br>
    <video src="" autoplay="true" id="realtime"></video>
    <div id="containerRealtime"></div>
    </div>

   
    


    <script src="../scripts_live.js" defer></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</body>
</html>
